@import "tailwindcss";


@theme {
  --font-dm-sans: "dmSans", "sans-serif";
  --color-yellow: #FFDB63;
}

/* Hide scrollbar for all browsers */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}